
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

hr{
    width:100%;
}

.overall-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 2px 1px 4px 4px rgba(223, 220, 220, 0.966);
}

 header{
    margin-bottom:15px;
} 

.lorem{
    display: flex;
    justify-content: flex-start;
    width: 137px;
}
h4{
    display: flex;
    justify-content: flex-start;
    width:130px;
}

.lorem-p{
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
}

.input-names{
    width: 250px;
    padding: 10px;
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid rgb(177, 173, 173);
} 

.email, .role, .country, .time, .domain1, .domain2, .names{
    margin-top:20px;
    margin-bottom: 20px;
}

.domain-box{
    margin-top: 20px;
}

label{
    margin-top: 20px;
}



.inputcontrol{
    display: flex;
    justify-content: space-around;
    gap: 60px;
    padding: 10px;
    width: 250px;
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid rgb(177, 173, 173);
    align-items: center;
}

.domain-box{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.inputp {
    display: flex;
    padding: 7px;
    width: 185px;
    height: 41px;
    /* margin-left: 15px; */
    margin: -25px;
    border-radius: 0 5px 5px 0;
    border: 1px solid rgb(177, 173, 173);
    align-items: center;
}

.input-1{
    width: 100px;
    height: 41px;
    padding: 10px;
    margin-left:10px;
    border-radius: 5px;
    border: 1px solid rgb(177, 173, 173);
}

.file-up{
    margin: 16px 10px 25px 8px;
    border-radius: 10px;
    width: 250px;
    height: 125px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    border: 1.90px dotted grey;
    cursor: pointer;
}

p{
    display: flex;
    justify-content:center;
    align-items: flex-end;
    font-size: 10px;
}

.upload-img{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.image{
    width: 50px;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 20px;
}

.image-setup{
    display: grid;
    align-items:center;
}

.span2{
    color: black;
}

.bio{
    margin-top:20px;
    width: 260px;
    margin-inline: 3px;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(177, 173, 173);
}

.biography{
    margin-top: 20px;
    margin-bottom: 20px;
}

.submit-btn{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top:3px;
    margin-bottom: -3px;
}

button{
    padding: 8px;    
}

.save-btn{
    width: 268px;
    background-color: rgb(4, 199, 4);
    color: #fff;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn{
    width:268px;
    border: 1px solid rgb(209, 201, 201);
    border-radius: 5px;
    cursor: pointer;    
}


.upload-btn {
    position: relative;
    top: 20px;
    width: 20px;
    border-radius: 20px;
    opacity: 0;
}


#error-name, #error-lname, #error-email, #error-role, #error-country, #error-time, #error-bio, #error-bio, #error-ftdomain, #error-stdomain{
    margin-top: 10px;
    font-size: 10px;
    color: red;
    padding-inline: 17px;
}





/* .inputcontrol{
    border-color: rgb(30, 204, 30);
} */

/* .inputcontrol{
    border-color: #ff3860;
} */



@media (min-width: 375px) and (max-width: 426px){
    .overall-container{
        font-size: normal;
    }
    label{
        font-weight: 450;
    }
    hr{
        width: 100%;
    }
    .input-names{
        width: 300px;
    }
    .inputcontrol{
        width:300px;
    }
    .file-up{
        width:300px;
    }
    .inputp{
        width:235px;
    }
    .bio{
        width: 300px;
    }
    .save-btn{
        width: 305px;
        background-color: rgb(4, 199, 4);
        color: #fff;
        border: 1px solid;
        border-radius: 5px;
    }
    .cancel-btn{
        width:305px;
        border: 1px solid rgb(209, 201, 201);
        border-radius: 5px;
    }
    .hr-tag{
        width: 240%;
    }
}


@media(min-width:768px) and (max-width:1020px){
    .overall-container{
        display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    padding-top: 0;
    height: 97vh;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 2px 1px 4px 4px rgba(223, 220, 220, 0.966);
}  

    header {
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 15px;
        width: 100%;
        padding: 10px;
        border: 1px solid lightgray;
        border-radius: 10px;
        background-color: #ffffff;
    }
    
    section{
        scroll-behavior: smooth;
        overflow:auto;
        scrollbar-width: none;
    }

    .fine-labels{
        width: 150px;
    }

    .names, .email, .role, .country, .time, .biography{
        display: flex;
        align-items:flex-start;
        justify-content: space-between;
        width: 550px;
    }
    
   

    .change-labels{
        margin-top:10px;
    }
    .input-names{
        width: 355px;
    }
    .inputcontrol{
        width: 355px;
    }
    .inputp{
        width: 285px;
        margin-right: -54px;
    }

    .picture{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 548px;
    }
    .image{
        width: 50px;
        border-radius: 30px;
        margin-top: 15px;
    }
    .image-setup{
        display: flex;
        align-items: flex-start;
    }
    .file-up{
        margin: 15px 22px 15px 21px;
        border-radius: 10px;
        width: 285px;
        height: 150px;
        font-size: 11px;
        display: flex;
        justify-content: center;
        border: 1.90px dotted grey;
    }
    #email-inp{
        width: 350px;
    }

    .email-container{
        display:flex;
        gap: 32px;
    }
   
    .domain1, .domain2{
       display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 500px;
    }
    .bio{
        width: 360px;
    }

    hr{
        width: 75%;
        color: rgb(200, 200, 201);
        opacity: 0.3;
    }
    label{
        font-weight: 450;
    }
    .submit-btn {
        width: 93%;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        position: fixed;
        top: 25px;
        right: 38px;
    }

    .save-btn{
        width: 85px;
        background-color: rgb(4, 199, 4);
        color: #fff;
        border: 1px solid;
        border-radius: 5px;
    }
    .cancel-btn{
        width: 85px;
        border: 1px solid rgb(209, 201, 201);
        border-radius: 5px;
    }
    .hr-tag{
        width: 522%;
    }
    .personal-frm{
        width: 200px;
    }
}

@media(min-width:1024px){

header{
    transform: translateY(10%); 
    transition: transform 0.3s ease-in-out;
}

.overall-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    padding-top: 0;
    height: 97vh;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 2px 1px 4px 4px rgba(223, 220, 220, 0.966);
}  

.header-tag{
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    scroll-behavior: smooth;
    overflow:auto;
    scrollbar-width: none;
}


#error-name, #error-lname{
    margin-top: 10px;
    font-size: 10px;
    color: red;
    display: flex;
    padding-inline: 29px;
}




 #error-email, #error-role, #error-country, #error-time, #error-bio, #error-bio, #error-ftdomain, #error-stdomain{
    margin-top: 10px;
    font-size: 10px;
    color: red;
    display: flex;
    padding-inline: 345px;
 }


.names, .Role, .country, .email, .time,.biography, .picture{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    width: 845px;
}

.email-container{
    display:flex;
    gap: 115px;
}


.domain1, .domain2{
    display: flex;
    align-items:flex-start;
    gap:125px;
    width: 820px;
}

.fine-labels{
    width: 200px;
}

.input-names{
    width: 515px;
}

.inputp{
    width: 444px;
}

.inputcontrol{
    width: 517px;
}

.inputcontrol{
    display: flex;
    flex-direction: column;

}

.picture{
    display: flex;
    align-items: center;
    gap: 16%;
}
.span1, .para{
    font-size: 15px;
}

.image{
    width: 50px;
    border-radius: 30px;
    margin-top: 30px;
}

.image-setup{
    display: flex;
    align-items: flex-start;
}

.file-up{
    margin: 15px 22px 15px 21px;
    border-radius: 10px;
    width: 492px;
    height: 150px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    border: 1.90px dotted grey;
}

.bio{
    width: 532px;
}
label{
    font-weight: 450;
}

header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: #ffffff;
}

hr{
    width: 85%;
    color: rgb(182, 182, 184);
    opacity: 0.3;
}

.lorem-p{
    display: flex;
    width: 125px;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 500;
}

.submit-btn {
    width: 93%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    position: fixed;
    top: 30px;
    right: 38px;
}

button{
    padding: 8px;
}

.save-btn{
    width: 85px;
    background-color: rgb(4, 199, 4);
    color: #fff;
    border: 1px solid;
    border-radius: 5px;    
}

.cancel-btn{
    width: 85px;
    border: 1px solid rgb(209, 201, 201);
    border-radius: 5px;
}

}


